# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env

# Core
# Ignore bundler config.
core/.bundle
# Ignore all environment files.
core/.env*
# Ignore all logfiles and tempfiles.
core/log/*
core/tmp/*
!core/log/.keep
!core/tmp/.keep
# Ignore pidfiles, but keep the directory.
core/tmp/pids/*
!core/tmp/pids/
!core/tmp/pids/.keep
# Ignore storage (uploaded files in development and any SQLite databases).
core/storage/*
!core/storage/.keep
core/tmp/storage/*
!core/tmp/storage/
!core/tmp/storage/.keep
# Public
core/public/assets
# Ignore master key for decrypting credentials and more.
core/config/master.key

# Misc
