<p>Enter the code we sent to your email address to continue.</p>

<%= form_with url: session_magic_link_path, method: :post do |form| %>
  <%= form.text_field :code, required: true,
    autofocus: true, autocorrect: "off", autocapitalize: "off", spellcheck: "false",
    autocomplete: "one-time-code", maxlength: "6", placeholder: "••••••", value: params[:code]%>
  <%= form.submit "Enter Code" %>
<% end %>

<% if Rails.env.development? && flash[:magic_link_code].present? %>
  <p>Magic Link Code: <code><%= flash[:magic_link_code] %></code></p>
<% end %>
