---
import { getLocale, getLocalizedPath } from '@/lib/i18n'

const { t } = Astro.locals
const currentLocale = getLocale(Astro.currentLocale)
const year = new Date().getFullYear()
const copyrightHTML = t('footer.copyright', { year })
---

<footer class="border-t border-zinc-200 py-10 dark:border-zinc-800">
  <div
    class="mx-auto flex max-w-5xl flex-col gap-6 px-4 text-sm text-zinc-600 sm:flex-row sm:items-center sm:justify-between sm:px-6 dark:text-zinc-400"
  >
    <p set:html={copyrightHTML} />
    <div class="flex flex-wrap gap-4">
      <a href={getLocalizedPath('/downloads', currentLocale)} class="hover:text-zinc-900 dark:hover:text-zinc-100"
        >{t('footer.link.downloads')}</a
      >
      <a href={getLocalizedPath('/releases', currentLocale)} class="hover:text-zinc-900 dark:hover:text-zinc-100"
        >{t('footer.link.releases')}</a
      >
      <a
        href={getLocalizedPath('/docs/getting-started', currentLocale)}
        class="hover:text-zinc-900 dark:hover:text-zinc-100">{t('footer.link.docs')}</a
      >
      <a href={getLocalizedPath('/blog', currentLocale)} class="hover:text-zinc-900 dark:hover:text-zinc-100"
        >{t('footer.link.blog')}</a
      >
    </div>
  </div>
</footer>
