---
import FeatureGrid from '@/components/FeatureGrid.astro'
import Hero from '@/components/Hero.astro'
import Showcases from '@/components/Showcases.astro'
import Testimonials from '@/components/Testimonials.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'

export { getI18nStaticPaths as getStaticPaths } from '@/lib/i18n'

const { tr } = Astro.locals
---

<BaseLayout title={tr('page.home.title')}>
  <main>
    <Hero />
    <Showcases />
    <FeatureGrid />
    <Testimonials />
  </main>
</BaseLayout>
